body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7fa;
    color: #333;
    text-align: center;
    padding: 20px;
}

#calendar {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    table-layout: fixed;
    border-collapse: collapse;
}

.week {
    position: relative;
    width: 33.33%;
    height: 100px;
    background-color: #b990db;
    border: 3px solid #f7f7fa;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.week:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    background-color: #a770d4;
}
